appnope==0.1.0
arrow==0.4.2
decorator==4.0.9
dj-database-url==0.4.0
Django==1.9
gnureadline==6.3.3
gunicorn==19.4.5
ics==0.3.1
ipython==4.1.2
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
python-dateutil==2.5.0
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
sparkpost==1.0.3
traitlets==4.1.0
wheel==0.24.0
whitenoise==2.0.6
