{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{event.name}}{% endblock title %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">Event {{ event.name }}</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          Start Date: {{ event.startDate }} 
        </li>
        <li class="list-group-item">
          End Date: {{ event.endDate }} 
        </li>
        <li class="list-group-item">
          Owner Name: {{ event.ownerName }}
        </li>
        <li class="list-group-item">
          Owner Email: {{ event.ownerEmail }}
        </li>
      </ul>
    </div>
  </div>

  <div class='container'>
    <div class="well col-lg-3">
      <a href="{{ signin_url }}" class='btn btn-primary'>Add outlook calendar</a>
      <p> OR </p>
      <form enctype="multipart/form-data" action="/event/{{ event.uuid }}/addCalendar/" method="post">
        {% csrf_token %}
        Your name: <br>
        <input type="text" name="name"></input> <br>
        <input type="file" name="contents"></input>
        <input type="submit" value="submit">Add Calendar</input>
      </form>
    </div>
    <div class='col-lg-8'>
      <div id="heatmap" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
    </div>
  </div>

  <br/>
  <div class="container list-group">
    <a href="#" class="list-group-item active">
      Who Submitted
    </a>
    {% for c in calendars %}
      <a href="#" class="list-group-item">{{c.username}}
      </a>
    {% endfor %}
  </div>
{% endblock content %}

{% block scripts %}
  <script>
    $(function () {

        $('#heatmap').highcharts({

            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },


            title: {
                text: "Everyone's Calendar"
            },

            xAxis: {
                categories: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            },

            yAxis: {
                categories: ['1', '2', '3', '4', '5'],
                title: null
            },

            colorAxis: {
                min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[0]
            },

            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                symbolHeight: 280
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.value + '</b> people have activities on this date';
                }
            },

            series: [{
                name: 'Events Per Day',
                borderWidth: 1,
                data: {{ heapData }},
                dataLabels: {
                    enabled: true,
                    color: '#000000'
                }
            }]

        });
    });
  </script>
{% endblock scripts %}
