{% extends 'base.html' %}

{% block title %}All Events{% endblock title %}

{% block content %}
  <div class='container'>
    <h1>All Events</h1>
    <table width="100%">
      <tr>
        <th>Title</th>
        <th>Start</th>
        <th>End</th>
        <th>Owner's Name</th>
        <th>Owner's Email</th>
      </tr>
      {% for event in events %}
        <tr>
          <td><a href="/event/{{event.uuid}}">{{ event.name }}</a></td>
          <td>{{ event.startDate }}</td>
          <td>{{ event.endDate }}</td>
          <td>{{ event.ownerName }}</td>
          <td>{{ event.ownerEmail }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
